:root {
  --bs-body-bg: #F1F1F1;
}

body {
  font-family: 'Playfair Display', Arial, sans-serif;
  font-weight: 300;
  font-size: 11pt;
  color: black;
}

h1 {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  font-size: 3.5em;
  text-align: center;
  color: black;
  margin: 3px 0 3px;
  padding-bottom: 5px;
  border-bottom: 1px black solid;
}

h2 {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  font-size: 1.8em;
  font-weight: 500;
  text-align: center;
  margin-top: 4vh !important;
}

h3 {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  font-weight: 500;
  padding-bottom: 20px;
  text-align: center;
}

hr {
  border: 0;
  height: 2px;
  background: #aaa;
  width: 50%;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  width: 100%;
}



p {
  line-height: 1.4;
  text-align: left;
  font-size: 1.4em;
  max-width: 70ch;
  margin-inline: auto;  
  /*padding-inline: 1.5rem;*/
}

.narrative p {
  font-size: 1.2em;
}



#quarto-document-content > p {
  padding-top: 10px;
}

#quarto-document-content > p.with-border {
  border-top: 1px solid #222222;
  margin-top: 40px;
}

li {
  font-weight: 300 !important;
  font-size: 1.1em;
}

em {
  font-weight: 600;
  font-style: normal;
}

.highlighted-text {
  font-weight: 600;
  background-color: #32322D;
  color: white;
  padding: 2px 4px;
  border-radius: 5px;
}

.highlighted-text-purple {
  background-color: #933689;
}

.highlighted-text-green {
  background-color: #559B3B;
}

.highlighted-text-blue {
  background-color: #2F91BD;
}

.highlighted-text-gradient-purple-blue {
  font-weight: 600;
  background: linear-gradient(90deg, #933689, #2F91BD);
  color: white;
  padding: 2px 4px;
  border-radius: 5px;
}

.highlighted-text-gradient-green-black {
  font-weight: 600;
  background: linear-gradient(90deg, #32322D, #559B3B);
  color: white;
  padding: 2px 4px;
  border-radius: 5px;
}


.narrative {
  font-weight: 200 !important;
}

